/* Assignment 1 */
.ass-1{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 7px solid red;
    border-left-color: transparent;
    position: relative;
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.ass-1::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 7px solid blue;
    border-right-color: transparent; 
}
.ass-1::after{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 7px solid yellow;
    border-bottom-color: transparent;   
}
@keyframes load{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.ass-1:hover {
    animation-play-state: paused;
}
/* End of Assignment 1 */


/*  Assignment 2 */
.ass-2{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 7px solid red;
    border-left-color: transparent;
    position: relative;
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    
}
.ass-2::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 7px solid blue;
    border-right-color: transparent; 
}
.ass-2::after{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 7px solid black;
    border-bottom-color: transparent;   
}
@keyframes load{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.ass-2:hover {
    animation-play-state: running;
}
/* End of Assignment 2 */


/*  Assignment 3 */
.ass-3{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 50px auto;
    background-color: #eee;
    border-left-color: transparent;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* End of Assignment 3 */


/*  Assignment 4 */
.ass-4{
    font-size: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    width: fit-content;
    position: relative;
}
.e{
    display: inline-block;
    position: relative;
}
.l{
    display: inline-block;
    margin-left: -100px;
    position: relative;
}
.e::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    top: 89px;
    right: 33px;
    animation-name: move-e;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes move-e {
    6%{
        top: 89px;
        right: 208px;
    }
    13%{
        right: 208px;
        top: 211px;
    }
    20%{
        right: 45px;
        top: 211px;
    }
    27%{
        right: 208px;
        top: 211px;
    }
    34%{
        right: 208px;
        top: 342px;
    }
    40%{
        right: 27px;
        top: 342px;
    }
    42%{
        right: 208px;
        top: 342px;
    }
    44%{
        right: 208px;
        top: 211px;
    }
    47%{
        top: 89px;
        right: 208px;
    }
    50%{
        top: 89px;
        right: 33px;
    }
    100%{
        top: 89px;
        right: 33px;
    }
}
.l::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    top: 342px;
    left: 182px;
    animation-name: move-l;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes move-l {
    0%{
        top: 342px;
        left: 182px;
        opacity: 0;
    }
    50%{
        top: 342px;
        left: 182px;
        opacity: 0;
    }
    55%{
        top: 342px;
        left: 182px;
        opacity: 1;
    }
    67%{
        top: 342px;
        left: 38px;
        opacity: 1;
    }
    85%{
        top: 89px;
        left: 38px;
        opacity: 1;
    }
    90%{
        top: 89px;
        left: 38px;
    }
    100%{
        top: 89px;
        left: 38px;
        opacity: 0;
    }
}
/* End of Assignment 4 */


