        /*Assignment 1*/
        .ass1-shape-1,.ass1-shape-2,.ass1-shape-3{
            display: inline-block;
            padding: 50px;
            background-color:#eee;
            margin: 20px;
            outline: 5px solid black;
            border-width: 5px;
        }
        .ass1-shape-1{
            border-style:solid;
            border-color: red;
        }
        .ass1-shape-2{
            border-style:solid;
            border-color: blue green;
        }
        .ass1-shape-3{
            border-style:dashed;
            border-color:red green blue yellow;
        }
        /*End of Assignment 1*/


        /*Assignment 2*/
        .ass2-shape-1,.ass2-shape-2,.ass2-shape-3{
            width: 400px;
            background-color: #eee;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
            padding: 15px;
        }
        .ass2-shape-1{ 
            border-left: 7px  solid rgba(220, 36, 91, 0.882);
            outline: 15px solid #eee;
        }
        .ass2-shape-2{ 
            visibility: hidden;
        }
        .ass2-shape-3{ 
            border-left: 7px  solid rgba(24, 184, 202, 0.882) ;
            outline: 15px solid #eee;
        }
        /*End of Assignment 2*/
