/* Assignment 1*/
.one,.two,.three{
    width:300px;
    height: 60px;
    margin:auto;
    font-size:40px;
    text-align:center;
    padding:20px;
    margin-bottom: 20px;
    background-color: rgb(223, 212, 204);
}
div:empty{
    background-color:red;
}
/* End of Assignment 1 */


/* Assignment 2 */
.four{
    width:600px;
    height: 60px;
    background-color: rgb(223, 212, 204);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin: auto;
    position: relative;
    line-height: 60px;
}
.four:before{
    content: "1";
    position: absolute;
    width: 60px;
    height: 80px;
    background-color: red;
    color: white;
    font-size: 40px;
    top: 50%;
    margin-top: -40px;
    left: -30px;
    text-align: center;
    line-height: 80px;
}
/* End of Assignment 2 */


/* Assignment 3 */
.five,.six,.seven{
    width: 600px;
    height: 60px;
    padding: 20px;
    background-color: rgb(223, 212, 204);
    margin: 20px auto;
    font-size: 25px;
    position: relative;
    line-height: 60px;
    border-left: 8px solid red;
}
.five::before,.six::before,.seven::before{
    content: attr(data-person);
    position: absolute;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(223, 212, 204);
    left: -150px;
    top: 50%;
    margin-top: -25px;
}
.five::after,.six::after,.seven::after {
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent red transparent transparent;
    top: 50%;
    left: -48px;
    margin-top: -20px;    
}
/* End of Assignment 3 */


/* Assignment 4 */
body{
    counter-reset: count;
}
.ass4{
    width: 600px;
    height: 50px;
    padding: 15px;
    background-color: rgb(223, 212, 204);
    font-size:25px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    line-height: 50px;
}
.ass4::before{
    counter-increment: count;
    content: counter(count);
    position: absolute;
    background-color: red;
    height: 100%;
    width: 70px;
    color:white;
    top:0;
    left:-70px;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
}
.ass4::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background-color: red;  
    right:-7px;
    top:0;
}
/* End of Assignment 4 */