body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Assignment 1*/
.parent{
    width: fit-content;
    counter-reset: count;
    margin: 30px auto;
}
.one{
    width: 100px;
    height: 100px;
    background-color: rgb(223, 212, 204);
    border:3px solid black;
    border-radius: 50px;
    box-shadow:-5px -3px 0px 1px red , 5px 3px 0px 1px blue;
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding:30px 20px;
    position: relative;
}
.one::before{
    counter-increment:count;
    content: counter(count);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    position: absolute;
    line-height: 30px;
    top: -15px;
    left: 50%;
    margin-left: -15px;
}
.one::after{
    content: "Element";
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100px;
}
/* End of Assignment 1 */


/* Assignment 2*/
.two{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: rgb(223, 212, 204);
    border-top-left-radius: 15px 25px;
    border-bottom-right-radius: 15px 25px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 2px 15px 2px black inset;
}
/* End of Assignment 2 */


/* Assignment 3*/
.main{
    width: 550px;
    margin: 30px auto;
    box-sizing: border-box;
    overflow: hidden;
}
.three{
    box-sizing: border-box;
    width: 250px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    float: left;
}
.basic,.pro{
    background-color: blue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    padding: 15px;
    margin: 20px auto;
}
.free,.price{
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 200px;
}
.four{
    box-sizing: border-box;
    width: 250px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    float: right;
    position: relative;
}
.four::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: blue;
    left: -26px;
    top:0;
}
.four::after{
    content: "Or";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    left: -45px;
    top:50%;
    margin-top: -20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End of Assignment 3 */