/* Assignment 3*/
ul{
    margin: 0;
    padding-left: 0;
}
.main{
    width: 400px;
    margin: 20px auto;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.main .item{
    margin: 15px 0;
    padding: 15px;
    background-color: #ccc;
}
.main .item li{
    background-color: #eee;
    padding: 8px;
    margin: 10px;
}
.item ul{
    list-style-position: inside;
}
/* End of Assignment 3*/
